.fa-bilibili {
  background: url(/images/bilibili-logo.svg);
  background-repeat: no-repeat
  height: 1rem;
  width: 1rem;
}

@media (orientation: portrait)
  #live2d-widget
  #live2d-canvas
  .live2d-widget-container
    display: none !important